@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 959.8913005112795px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #ECF0F1;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -56px;
	margin-bottom: 77px;
}

#pu129
{
	width: 0.01px;
	position: relative;
}

#u129
{
	z-index: 2;
	width: 295px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #8E44AD;
	-moz-border-radius: 70px 0px 70px 0px ;
	-webkit-border-radius: 70px 0px 70px 0px ;
	-khtml-border-radius: 70px 0px 70px 0px ;
	border-radius: 70px 0px 70px 0px ;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 157px;
	left: 44px;
	padding: 49px 140px 65.05000000000007px 16px;
}

#pu121-5
{
	width: 0.01px;
	margin-left: 5px;
	position: relative;
}

#u121-5
{
	z-index: 8;
	width: 121px;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u137-5
{
	z-index: 44;
	width: 121px;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#pu122-5
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 17px;
	position: relative;
}

#u122-5
{
	z-index: 13;
	width: 121px;
	min-height: 42px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u138-5
{
	z-index: 49;
	width: 121px;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	left: 146px;
}

#pu123-5
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 14px;
	position: relative;
}

#u123-5
{
	z-index: 18;
	width: 121px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u139-5
{
	z-index: 54;
	width: 147px;
	min-height: 60px;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#pu125-6
{
	width: 0.01px;
	margin-left: 5px;
	margin-top: 26px;
	position: relative;
}

#u125-6
{
	z-index: 23;
	width: 121px;
	min-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u125-3
{
	color: #FFFFFF;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u125
{
	font-size: 30px;
	line-height: 36px;
}

#u125-2
{
	line-height: 17px;
}

#u140-5
{
	z-index: 59;
	width: 121px;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	left: 143px;
}

#pu128-5
{
	width: 0.01px;
	margin-top: 36px;
	position: relative;
}

#u128-5
{
	z-index: 29;
	width: 126px;
	min-height: 44px;
	position: relative;
	margin-right: -10000px;
}

#u141-5
{
	z-index: 64;
	width: 121px;
	min-height: 52px;
	position: relative;
	margin-right: -10000px;
	left: 147px;
}

#u121-2,#u137-2,#u122-2,#u138-2,#u123-2,#u139-2,#u140-2,#u128-2,#u141-2
{
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
}

#u119
{
	z-index: 3;
	width: 539px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3498DB;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u120-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 84px;
}

#u177
{
	z-index: 69;
	width: 303px;
	height: 70px;
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FBD7CA;
	background-color: rgba(241, 90, 36, 0.24);
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 307px;
	-pie-background: rgba(241, 90, 36, 0.24);
}

#u178-4
{
	z-index: 70;
	width: 236px;
	min-height: 47px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	position: relative;
	margin-right: -10000px;
	margin-top: 131px;
	left: 345px;
}

#u130
{
	z-index: 34;
	width: 451px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #D35400;
	-moz-border-radius: 0px 70px 0px 70px ;
	-webkit-border-radius: 0px 70px 0px 70px ;
	-khtml-border-radius: 0px 70px 0px 70px ;
	border-radius: 0px 70px 0px 70px ;
	padding-bottom: 25px;
	margin-left: 34px;
	margin-top: 61px;
	position: relative;
}

#u131-4
{
	z-index: 35;
	width: 151px;
	min-height: 40px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 150px;
}

#u132
{
	z-index: 39;
	width: 363px;
	border-width: 7px;
	border-style: solid;
	border-color: #C0392B;
	background-color: #C0392B;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-khtml-border-radius: 40px;
	border-radius: 40px;
	padding-bottom: 16px;
	margin-left: 72px;
	margin-top: 57px;
	position: relative;
}

#u135-4
{
	z-index: 40;
	width: 146px;
	min-height: 40px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 108px;
}

#page .verticalspacer
{
	clear: both;
}

