@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #ECF0F1;
}

#page_position_content
{
	margin-bottom: 448px;
}

#u87
{
	z-index: 2;
	width: 540px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #3498DB;
	padding-bottom: 5px;
	position: relative;
}

#u88-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 189px;
}

#u93
{
	z-index: 7;
	width: 207px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	-moz-border-radius: 32px 0px 32px 0px ;
	-webkit-border-radius: 32px 0px 32px 0px ;
	-khtml-border-radius: 32px 0px 32px 0px ;
	border-radius: 32px 0px 32px 0px ;
	padding-bottom: 14px;
	margin-left: 166px;
	margin-top: 378px;
	position: relative;
}

#u93:hover
{
	background-color: #FBB03B;
	width: 207px;
	min-height: 0px;
	margin: 378px 0px 0px 166px;
}

#u93:active
{
	background-color: #D4145A;
	width: 207px;
	min-height: 0px;
	margin: 378px 0px 0px 166px;
}

#u94-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 33px;
}

#page .verticalspacer
{
	clear: both;
}

