@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #ECF0F1;
}

#page_position_content
{
	margin-top: -49px;
	margin-bottom: 448px;
}

#pu87
{
	width: 0.01px;
	padding-bottom: 95px;
	position: relative;
}

#u87
{
	z-index: 2;
	width: 539px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3498DB;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u88-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 188px;
}

#u157
{
	z-index: 12;
	width: 303px;
	height: 70px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F15A24;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 307px;
}

#u159-4
{
	z-index: 13;
	width: 236px;
	min-height: 47px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 346px;
}

#u93
{
	z-index: 7;
	width: 207px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #ED1C24;
	-moz-border-radius: 32px 0px 32px 0px ;
	-webkit-border-radius: 32px 0px 32px 0px ;
	-khtml-border-radius: 32px 0px 32px 0px ;
	border-radius: 32px 0px 32px 0px ;
	padding-bottom: 14px;
	margin-left: 166px;
	margin-top: 230px;
	position: relative;
}

#u93:hover
{
	background-color: #FBB03B;
	width: 207px;
	min-height: 0px;
	margin: 230px 0px 0px 166px;
}

#u93:active
{
	background-color: #D4145A;
	width: 207px;
	min-height: 0px;
	margin: 230px 0px 0px 166px;
}

#u94-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 33px;
}

#page .verticalspacer
{
	clear: both;
}

