@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-top: -49px;
	margin-bottom: -2px;
}

#pu105
{
	width: 0.01px;
	position: relative;
}

#u105
{
	z-index: 2;
	width: 540px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
}

#u148
{
	z-index: 4;
	width: 539px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #3498DB;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	margin-top: 49px;
}

#u149-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 116px;
}

#u225
{
	z-index: 14;
	width: 83px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 771px;
	left: 156px;
}

#u175
{
	z-index: 15;
	width: 303px;
	height: 70px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #F15A24;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,72,-99);
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 307px;
}

#u176-4
{
	z-index: 16;
	width: 236px;
	min-height: 47px;
	font-size: 36px;
	line-height: 43px;
	color: #FFFFFF;
	-webkit-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-ms-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	-o-transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	transform: matrix(0.6947,0.7193,-0.7193,0.6947,53,-78);
	position: relative;
	margin-right: -10000px;
	margin-top: 125px;
	left: 342px;
}

#u151
{
	z-index: 9;
	width: 539px;
	-pie-box-shadow: 4px -7px 27px #7F7F7F;
	-moz-box-shadow: 4px -7px 27px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 4px -7px 27px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 4px -7px 27px rgba(0, 0, 0, 0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #16A085;
	padding-bottom: 6px;
	position: relative;
}

#u151:hover
{
	background-color: #603813;
	width: 539px;
	min-height: 0px;
	margin: 0px;
}

#u151:active
{
	background-color: #534741;
	width: 539px;
	min-height: 0px;
	margin: 0px;
}

#u154-4
{
	z-index: 10;
	width: 195px;
	min-height: 43px;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 172px;
}

