@-ms-viewport
{
	width: 540px;
}

@-webkit-viewport
{
	width: 540px;
}

@-o-viewport
{
	width: 540px;
}

@-moz-viewport
{
	width: 540px;
}

@viewport
{
	width: 540px;
}

.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 540px;
	min-height: 960px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
}

#u105
{
	z-index: 2;
	width: 540px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
}

#u148
{
	z-index: 4;
	width: 540px;
	-pie-box-shadow: 0px 0px 16px #7F7F7F;
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #3498DB;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
}

#u149-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 166px;
}

#u151
{
	z-index: 9;
	width: 540px;
	-pie-box-shadow: 0px 0px 19px #7F7F7F;
	-moz-box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 19px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.5);
	border-color: #000000;
	background-color: #16A085;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 889px;
}

#u151:hover
{
	background-color: #603813;
	margin: 889px -10000px 0px 0px;
}

#u151:active
{
	background-color: #534741;
	margin: 889px -10000px 0px 0px;
}

#u154-4
{
	z-index: 10;
	width: 195px;
	min-height: 43px;
	line-height: 58px;
	font-size: 48px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 156px;
}

#u225
{
	z-index: 14;
	width: 83px;
	min-height: 18px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 681px;
	left: 156px;
}

