/* Empty. Add your own CSS if you like */
#scan{
    border-radius: 7px;
    width:80%;
    margin-top: 200px;
    margin-left: 10%;
    text-align: center;
    position: relative;
}
#shadow{
    -pie-box-shadow: 0px 0px 16px #7F7F7F;
    -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
#logo{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
#enter-form{
    width: 80%;
    margin-left: 10%;
    -pie-box-shadow: 0px 0px 16px #7F7F7F;
    -moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
}
#paynow{
    margin-top: 10px;
    float: right;
}
#pic{
    width: 200px;
    height: 200px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}
#paytype{
    color: #009689;
}
#name{
    color: #6b46e5;
    text-transform: uppercase;
    font-weight: bold;
}
#padding{
    padding-top: 20px;
}